<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blu_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_blu_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!--not sure below receivers are needed even smh >>see with remove org.capacitor.BluTomato >> nope
        see with intent filters: removed <data android:scheme="http" android:host="example.com" />
        does it order matter? >>nope

        huh should prolly use com.capacitorjs.plugins.localnotifications.TimedNotificationPublisher? >>yup def!! works!
        TimedNotificationPublisher
        .timey

        >>also prolly no need to add receivers as already included in plugin? >> prolly!
        -->
        <!--<receiver
          android:enabled="true"
          android:exported="true"
          android:name="com.capacitorjs.plugins.localnotifications.TimedNotificationPublisher" >
          <intent-filter>
            //<action android:name="android.intent.action.VIEW" />
            <action android:name="org.capacitor.BluTomato.nav" />
            <action android:name="org.capacitor.BluTomato.tap" />
            <action android:name="org.capacitor.BluTomato.TAP" />
            <action android:name="org.capacitor.BluTomato.ok" />
            <action android:name="org.capacitor.BluTomato.go" />
            <action android:name="org.capacitor.BluTomato.nav.go" />
            <action android:name="org.capacitor.BluTomato.nav.ok" />
            <category android:name="android.intent.category.DEFAULT" />
            //toSee when removing intent-filters... have to have at least action.Main below
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
          </intent-filter>
        </receiver>-->
        <!--<receiver
          android:enabled="true"
          android:exported="true"
          android:name="com.capacitorjs.plugins.localnotifications.NotificationDismissReceiver">
          <intent-filter>
            <action android:name="android.intent.action.DELETE"/>
            <action android:name="android.intent.action.DISMISS"/>
            <action android:name="org.capacitor.BluTomato.DISMISS" />
            <action android:name="org.capacitor.BluTomato.DELETE" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            //<action android:name="com.example.action.APP_ACTION" />
            //<category android:name="android.intent.category.DEFAULT" />
          </intent-filter> //umm have to have at least one action filter but prolly not all the above...
        </receiver>
        <receiver android:enabled="true"
          android:name="com.capacitorjs.plugins.localnotifications.ActionNotificationReceiver" />-->

    </application>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
      tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
</manifest>
